SPARK_APP_ID=d5d99add
SPARK_API_KEY=fd91401143d05098e515b62302d606bf
SPARK_API_SECRET=ODVhYzAxZWE5NjRiZmJjY2I0ZThkZGFh
SPARK_API_URL=wss://spark-api.xf-yun.com/v3.5/chat

SECRET_KEY=change-me
DATABASE_URL=sqlite:///./data/app.db
HOST=0.0.0.0
PORT=8000
DEBUG=True
